body {
  background-color: #333;
}

#project-init {
  border: 2px solid white;
  width: 1280px;
  margin-left: auto;
  margin-right: auto;
  cursor: pointer;
}

.propConf {
    background:#99c;
    font-family: Helvetica, Arial, 'sans-serif';
    padding:5px;
    border-radius:5px;

    position:absolute;
    top:0px;
    left:0px;
    width:300px;
}

.propConf label {
    min-width:100px;
    font-weight:bold;
}

.propConf div {
    /*float:left;*/
    /*background:#999;*/
    /*border-radius:5px;*/
    margin: 2px;
}
